
/* For the four sections */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100svh;
  }
  
  .top-section {
    display: flex;
    flex-direction: row;
    height: 50%;
  }
  
  .bottom-section {
    display: flex; 
    /* flex-direction: row; */
    height: 50%;
  }
  
  .Dimensionality-Reduction {
    flex: 1;
    border: 1px solid black;
    width: 40%;
    border-radius: 20px;
    padding: 20px;

  }


  

  .Dimensionality-Reduction, .Topic-Modeling, .Top-topics, .Top-words,.cloud-section, .chart-section, .selected-words{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
  }



  .Topic-Modeling {
    flex: 1;
    border: 1px solid black;
    width: 40%;
    border-radius: 20px;
    padding: 10px;
  }

  #top-5-sent{
    flex: 1;
    border: 1px solid black;
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: auto;
  }
  
  .Top-topics {
    flex: 1;
    border: 1px solid black;
    width : 70%;
    /* display: flex; */
    flex-direction: column;
  }

  .selector-section {
    height: 20%;
    width: 100%;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 20px
  }

  .topic-section {
    display: flex;
    flex-direction: row;
    height: 80%;
  }
  
  .chart-section {
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: lightblue;
  }
  
  .cloud-section {
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(222, 239, 245);
  }
  
  .selected-words {
    
    border: 1px solid black;
    width : 30%;
    border-radius: 20px;
  }

/* Individual Chart elements */
/* Scatter plot styles */

body {
  background-color: #c8d0d6; /* set the background color to light blue */
}
.dot:hover {
    stroke: black;
    stroke-width: 2px;
  }
  .side-panel-text {
font-size: 20px;
font-family: 'Open Sans', sans-serif;
}

.highlight {
fill: yellow;
stroke: black;
}


.d3-tip {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      color: white;
      font-size: 12px;
      line-height: 1.4;
      padding: 8px 10px;
    }

    .name-box {
      fill: lightblue;
      stroke: blue;
      border: 5px solid black;
      border-radius: 4px;
      padding: 4px;
    }
    
    .name-box:hover {
      fill: lightgreen;
    }
    
    .name-box.clicked {
      fill: green;
    }

    .bar {
      fill: #6F257F;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #D4D8DA;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }
    .x path {
      display: none;
    }
    .toolTip {
      position: absolute;
      display: none;
      min-width: 80px;
      height: auto;
      background: none repeat scroll 0 0 #ffffff;
      border: 1px solid #6F257F;
      padding: 14px;
      text-align: center;
    }

  

  #context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
  }
  
  #context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
  }
  
  #context-menu .item:hover {
    background: #6F257F;
  }

#context-menu.visible {
  display: block;
}
